<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
           <img src="https://yt3.ggpht.com/a-/AAuE7mASdqy_XkBCS-8Eiye92pWNNmzNtQYi_oxr0A=s900-mo-c-c0xffffffff-rj-k-no">
           <a class="navbar-brand" href="/">DeadSpin</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            
        </ul>
        <a class="btn btn-primary navbar-btn" id="scrapeBtn" href="/api/articles/scrape">Scrape Dead Spin Articles!</a>
    </div>
</nav>